/* Global Rule  */
i {
    cursor: pointer;
}

li {
    list-style: none !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Global Rule  */

.loading-screen {
    inset: 0;
    z-index: 9999999999;
    background-color: #000;
    display: flex;
}

body {
    background-color: #000000f2;
}

.loading-container {
    display: none;
}

.sm-loading {
    z-index: 999;
    inset: 0;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

/* Start NavBar  */
.header-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 5555;
    background-color: #f8f6f6;
    text-align: center;
    transition: all 0.6s ease;
}

.header-nav.animate {
    left: 240;
}

.header-nav .nav-logo {
    padding: 25px 0;
}

.header-nav .nav-logo img {
    width: 45px;
    cursor: pointer;
}

.header-nav .menu i {
    font-size: 25px;
}

.header-nav .social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.header-nav .social-icons>div {
    padding-top: 10px;
}


/* Start Nav-open  */
.nav-open {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100vh;
    z-index: 5555;
    background-color: #000;
    transform: translateX(-100%);
    transition: all 0.6s ease;
}

.nav-open.animate {
    transform: scale(1);
}

.nav-open ul {
    padding-left: 30px;
    height: 300px;
    overflow: hidden;
}

.nav-open ul li {
    /* opacity: 1;
    padding-top: 25px; */
    padding-top: 500px;
    opacity: 0;
}

.nav-open ul li a {
    color: #f9f6f6 !important;
    font-weight: 500;
    font-size: 16px;
}


.nav-open .nav-social {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.nav-open .nav-social a {
    color: #f9f6f6;
    padding-left: 15px;
    font-size: 14px;
}

.nav-open .nav-social span {
    color: #999;
}

/* End Nav-open  */

/* End NavBar  */

/* Start Home  */
.items {
    background-color: #000;
}

.items .item {
    color: #000;
    overflow: hidden;
    cursor: pointer;
}

.items .item:hover .layer {
    top: 0;
}

.layer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    transition: .5s;
    top: 100%;
}

/* End Home  */


/* Start area section  */
.area {
    background-color: #000;

}

.area .items {
    cursor: pointer;
    color: white;
    text-align: center;
}

.area .items i {
    font-size: 45px;
    color: #9ee650ab;
}

/* End area section  */


.contact-sec {
    background-color: #000;
}